<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.InformationMapper">
  <resultMap id="BaseResultMap" type="com.example.model.Information">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="audit_res_id" jdbcType="BIGINT" property="auditResId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="active" jdbcType="TINYINT" property="active" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, img, dept_id, audit_status, status, audit_res_id, create_time, 
    update_time, create_user, update_user, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from information
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select a.* ,b.name As name from (information AS a LEFT JOIN department AS b ON a.dept_id = b.dept_id) WHERE active = 1 order by update_time desc
  </select>
  <select id="selectByCondition" parameterType="com.example.model.Information" resultMap="BaseResultMap">
    select a.*,b.name As name from (select * from information
    　　<trim prefix="WHERE" prefixOverrides="AND | OR">
         <if test="title != null and title.length()>0">AND title like concat('%',#{title,jdbcType=VARCHAR},'%')</if>
         <if test="status != null and status != 2">AND status=#{status,jdbcType=TINYINT}</if>
         <if test="auditStatus != null and auditStatus != 2">AND audit_status=#{auditStatus,jdbcType=TINYINT}</if>
        AND active = 1
        </trim>
    ) As a LEFT JOIN department As b ON a.dept_id = b.dept_id
  </select>
  <select id="selectById" resultMap="BaseResultMap">
    select a.*,b.name as name from (
    (select * from information where id = #{id,jdbcType=BIGINT} and active = 1) as a
    left join department as b on a.dept_id = b.dept_id)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from information
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.Information">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into information (title, content, img, 
      dept_id, audit_status, status, 
      audit_res_id, create_time, update_time, 
      create_user, update_user, active
      )
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=BIGINT}, #{auditStatus,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{auditResId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{active,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.Information">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="auditResId != null">
        audit_res_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=BIGINT},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="auditResId != null">
        #{auditResId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Information">
    update information
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=BIGINT},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="auditResId != null">
        audit_res_id = #{auditResId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.Information">
    update information
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=BIGINT},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      audit_res_id = #{auditResId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      active = #{active,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>