<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LibraryCardAuditResMapper">
  <resultMap id="BaseResultMap" type="com.example.model.LibraryCardAuditRes">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stu_info_id" jdbcType="BIGINT" property="stuInfoId" />
    <result column="library_card_id" jdbcType="BIGINT" property="libraryCardId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stu_info_id, library_card_id, status, content, create_time, create_user, update_time, 
    update_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from library_card_audit_res
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from library_card_audit_res
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.model.LibraryCardAuditRes">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into library_card_audit_res (stu_info_id, library_card_id, status, 
      content, create_time, create_user, 
      update_time, update_user)
    values (#{stuInfoId,jdbcType=BIGINT}, #{libraryCardId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.LibraryCardAuditRes">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into library_card_audit_res
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuInfoId != null">
        stu_info_id,
      </if>
      <if test="libraryCardId != null">
        library_card_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuInfoId != null">
        #{stuInfoId,jdbcType=BIGINT},
      </if>
      <if test="libraryCardId != null">
        #{libraryCardId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.LibraryCardAuditRes">
    update library_card_audit_res
    <set>
      <if test="stuInfoId != null">
        stu_info_id = #{stuInfoId,jdbcType=BIGINT},
      </if>
      <if test="libraryCardId != null">
        library_card_id = #{libraryCardId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.LibraryCardAuditRes">
    update library_card_audit_res
    set stu_info_id = #{stuInfoId,jdbcType=BIGINT},
      library_card_id = #{libraryCardId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>