<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PartyBranchMapper">
    <resultMap id="BaseResultMap" type="com.example.model.PartyBranch">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="stu_info_id" jdbcType="BIGINT" property="stuInfoId" />
        <result column="transfer_date" jdbcType="TIMESTAMP" property="transferDate" />
        <result column="pass_date" jdbcType="TIMESTAMP" property="passDate" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="place" jdbcType="VARCHAR" property="place" />
        <result column="active" jdbcType="TINYINT" property="active" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <resultMap id="PartyBranchMap" type="com.example.model.PartyBranchInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="stu_info_id" jdbcType="BIGINT" property="stuInfoId" />
        <result column="transfer_date" jdbcType="TIMESTAMP" property="transferDate" />
        <result column="pass_date" jdbcType="TIMESTAMP" property="passDate" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="place" jdbcType="VARCHAR" property="place" />
        <result column="active" jdbcType="TINYINT" property="active" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="identity_id" jdbcType="BIGINT" property="identityId" />
        <result column="stu_id" jdbcType="BIGINT" property="stuId" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="edu_sys" jdbcType="TINYINT" property="eduSys" />
        <result column="admission_date" jdbcType="DATE" property="admissionDate" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
        <result column="class_id" jdbcType="BIGINT" property="classId" />
        <result column="party_branch_audit_res_id" jdbcType="BIGINT" property="partyBranchAuditResId" />
        <result column="party_branch_audit_res_status" jdbcType="TINYINT" property="partyBranchAuditResStatus" />
        <result column="party_branch_audit_res_content" jdbcType="VARCHAR" property="partyBranchAuditResContent" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    </resultMap>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.PartyBranch">
      update party_branch
      <set>
          <if test="stuInfoId != null">
              stu_info_id = #{stuInfoId,jdbcType=BIGINT},
          </if>
          <if test="transferDate != null">
              transfer_date = #{transferDate,jdbcType=TIMESTAMP},
          </if>
          <if test="passDate != null">
              pass_date = #{passDate,jdbcType=TIMESTAMP},
          </if>
          <if test="status != null">
              status = #{status,jdbcType=TINYINT},
          </if>
          <if test="place != null">
              place = #{place,jdbcType=VARCHAR},
          </if>
          <if test="active != null">
              active = #{active,jdbcType=TINYINT},
          </if>
          <if test="createTime != null">
              create_time = #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="createUser != null">
              create_user = #{createUser,jdbcType=VARCHAR},
          </if>
      </set>
      where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByUsername" resultMap="PartyBranchMap">
   select
	b.id as stu_info_id, b.`name`,b.identity_id,b.stu_id,b.sex,b.edu_sys,b.admission_date, b.class_id,
    c.id, c.transfer_date, c.pass_date,c.place, c.`status`, c.active,
    d.`name` as dept_name ,
    e.`name` as profession_name,
    f.id as party_branch_audit_res_id, f.`status` as party_branch_audit_res_status, f.content as party_branch_audit_res_content, f.create_time, f.create_user
    from (select id from sys_user where username = #{username,jdbcType=VARCHAR}) as a
    LEFT JOIN stu_info as b on a.id = b.user_id
    LEFT JOIN party_branch as c on b.id = c.stu_info_id
    LEFT JOIN department as d on b.dept_id = d.dept_id
    LEFT JOIN profession as e on b.profession_id = e.profession_id
    LEFT JOIN party_branch_audit_res as f on c.id = f.party_branch_id
    WHERE c.active = 1
  </select>
    <select id="selectByCondition" resultMap="PartyBranchMap">
        select
        b.id as stu_info_id, b.`name`,b.identity_id,b.stu_id,b.sex,b.edu_sys,b.admission_date, b.class_id,
        a.id, a.transfer_date, a.pass_date,a.place, a.`status`, a.active,
        d.`name` as dept_name ,
        e.`name` as profession_name,
        f.id as party_branch_audit_res_id, f.`status` as party_branch_audit_res_status, f.content as party_branch_audit_res_content, f.create_time, f.create_user
        from
        (select *
        from party_branch
        <if test="status != null">WHERE status = #{status,jdbcType=TINYINT}</if>
        ) as a
        INNER JOIN
        (select
        id, user_id, name, identity_id, stu_id, sex, edu_sys, admission_date, profession_id, dept_id, class_id
        from stu_info
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="stuId != null">AND stu_id = #{stuId,jdbcType=BIGINT}</if>
            <if test="classId != null">AND class_id = #{classId,jdbcType=BIGINT}</if>
        </trim>
        ) as b on a.stu_info_id = b.id
        INNER JOIN sys_user as c on b.user_id = c.id
        LEFT JOIN department as d on b.dept_id = d.dept_id
        LEFT JOIN profession as e on b.profession_id = e.profession_id
        LEFT JOIN party_branch_audit_res as f on a.id = f.party_branch_id
        WHERE a.active = 1
        <if test="partyBranchAuditResStatus != null">AND f.status = #{partyBranchAuditResStatus,jdbcType=TINYINT}</if>
    </select>
</mapper>
