<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.model.SysMenu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="navbar_id" jdbcType="INTEGER" property="navbarId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, navbar_id, parent_id, name, url, perms, type, icon, order_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap">
    SELECT d.perms as perms FROM (((
    (SELECT id FROM sys_user WHERE username = #{username,jdbcType=VARCHAR})AS a
    LEFT JOIN sys_user_role AS b ON a.id = b.user_id)
    LEFT JOIN sys_role_menu AS c ON c.role_id = b.role_id)
    LEFT JOIN sys_menu AS d ON c.menu_id = d.menu_id)
  </select>
  <select id="selectByUserNameAndType" resultMap="BaseResultMap">
    SELECT DISTINCT d.* FROM (((
    (SELECT id FROM sys_user WHERE username = #{username,jdbcType=VARCHAR})AS a
    LEFT JOIN sys_user_role AS b ON a.id = b.user_id)
    LEFT JOIN sys_role_menu AS c ON c.role_id = b.role_id)
    LEFT JOIN (SELECT * FROM sys_menu WHERE type = #{type,jdbcType=INTEGER})AS d ON d.menu_id = c.menu_id) order by order_num
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.model.SysMenu">
    insert into sys_menu (menu_id, navbar_id, parent_id, name,
      url, perms, type, icon,
      order_num)
    values (#{menuId,jdbcType=INTEGER}, #{navbarId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR},
      #{orderNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="navbarId != null">
        navbar_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="perms != null">
        perms,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="navbarId != null">
        #{navbarId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.SysMenu">
    update sys_menu
    <set>
      <if test="navbarId != null">
        navbar_id = #{navbarId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="perms != null">
        perms = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.SysMenu">
    update sys_menu
    set navbar_id = #{navbarId,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      perms = #{perms,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>
